*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    min-height: 10vh;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .header-logo{
    margin-left: 30px;
    
}

header .header-logo a{
    text-decoration: none;
    color: black;
}

header .header-navbar{
    margin-right: 30px;
}

header .header-navbar a{
    text-decoration: none;
    color:black;
    padding-right: 15px;
    
}








body{
    min-height: 100vh;

}



main{
    border: 2px solid black;
    min-height: 80vh;
}

footer{
    border: 2px solid black;
    min-height: 10vh;
    position: sticky;
    top:100%;
}